<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reedxiong.allrun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterActivity"
            android:label="allrun"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".biz.RegisterBiz" />

        <activity
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".view.MainFragmentActivity"
            android:label="@string/title_activity_main_fragment" />

        <receiver android:name=".receiver.NetworkStateChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.NearbyUserActivity"
            android:label="@string/title_activity_nearby_user" />
        <activity
            android:name=".view.ClubActivity"
            android:label="@string/title_activity_club" />
        <activity android:name=".view.ChatGroupActivity" />
        <activity
            android:name=".view.SportSettingActivity"
            android:label="@string/title_activity_sport_setting"></activity>
    </application>

</manifest>
